extends base.pug

block content
  header
    div(class="ui menu")
      a(class="item" href="/") Search Page
      a(class="item" href="/login") Log In Page
      a(class="item" href="/signup") Sign Up Page
      a(class="item" href="/user") User Page
      a(class="active item" href="/admin") Admin Page
  h1 Admin Page
  form.search_bar(action='/admin', method='POST')
    input.title(type='title', name='title', required placeholder='Insert Book Title')
    input.author(type='author', name='author', required placeholder='Insert Book Author')
    input.genre(type='genre', name='genre', required placeholder='Insert Book Genre')
    input.height(type='height', name='height', required placeholder='Insert Book Height')
    input.publisher(type='publisher', name='publisher', required placeholder='Insert Book Publisher')
    input.addbook(type='submit', value='submit new book')
  br
  form.delete_bar(action='/delete', method='POST')
    input.title(type='title', name='title', required placeholder='Insert Book Title')
    input.deletebook(type='submit', value='delete book')
  br
  form.update_bar(action='/change', method='POST')
    input.oldtitle(type='oldtitle', name='oldtitle', required placeholder='Select Book Title')
    input.newtitle(type='newtitle', name='newtitle', required placeholder='Insert New Book Title')
    input.newauthor(type='newauthor', name='newauthor', required placeholder='Insert New Author Title')
    input.newgenre(type='newgenre', name='newgenre', required placeholder='Insert New Genre Title')
    input.updatebook(type='submit', value='update book')
