doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		script(src="https://code.jquery.com/jquery-3.2.1.js")
		link(rel='stylesheet',href='/public/styles.css')
		link(rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css")
		script(src="semantic/dist/semantic.min.js")
		title BookStore - #{title}
		block content
