extends base.pug

block content
  h1 Sign-Up
  span Search Bar
  form.search_bar(action='/results', method='POST')
    select.type(name='type')
      option.title(value='title') Title
      option.author(value='author') Author
      option.genre(value='genre') Genre
      option.publisher(value='publisher') Publisher
      option.height(value='height') Book Height
    input.text(type='text', name='text', required placeholder='Search Text')
    input.submit(type='submit', value='submit') 
  br 
  span Detailed Search Bar(Searches by Title)
  form.detail_bar(action='/details', method='POST')
    input.text(type='text', name='text', required placeholder='Search Text')
    input.submit(type='submit', value='submit')
  div.user
