extends base.pug

block content
  header
    div(class="ui menu")
      a(class="active item" href="/") Search Page
      a(class="item" href="/login") Log In Page
      a(class="item" href="/signup") Sign Up Page
      a(class="item" href="/user") User Page
      if access === 'admin' || access = 'superadmin'
        a(class="item admin" href="/admin") Admin Page
  h1 Search Page
  span Search Bar
  form.search_bar(action='/results', method='POST')
    select.type(name='type')
      option.title(value='title') Title
      option.author(value='author') Author
      option.genre(value='genre') Genre
      option.publisher(value='publisher') Publisher
      option.height(value='height') Book Height
    input.text(type='text', name='text', required placeholder='Search Text')
    input.submit(type='submit', value='submit') 
  br 
  span Detailed Search Bar(Searches by Title)
  form.detail_bar(action='/details', method='POST')
    input.text(type='text', name='text', required placeholder='Search Text')
    input.submit(type='submit', value='submit')
  br
  div.books
    each book in books
      div.bookrow
        span.text #{book.title}
  div.user
    
