extends base.pug

block content
  h1 Sign-Up
  h3 Search Types are literally [title, author, genre]
  form.search_bar(action='/results', method='POST')
    input.type(type='text', name='type', required placeholder='Search Type')
    input.text(type='text', name='text', required placeholder='Search Text')
    input.submit(type='submit', value='submit')
  div.user
    br
    a.details(href='/details') DETAILS
