extends base.pug

block content
  h1(class="title") Log In Page
  form.login_bar(action='/login', method="POST" class="ui centered grid")
    input.text(type='text', name='username', required placeholder='User Name')
    input.text(type='text', name='password', required placeholder='Password')
    input.submit(type='submit', value='Log In')
  div(class="ui centered grid").error
    span.text #{error}
    
