extends base.pug

block content
  br
  div(class="ui centered grid")
    each book in books
      form(action='/details', method="POST" class="centered row")
        input(type="hidden" name='text' value=book.title)
        input(type="submit" value=book.title class="ui small button basic")
  div.user
    
