extends base.pug

block content
  h1(class="title") Sign Up Page
  form.signup_bar(action='/signup', method="POST" class="ui centered grid")
    input.text(type='text', name='username', required placeholder='User Name')
    input.text(type='text', name='password', required placeholder='Password')
    input.submit(type='submit', value='Sign Up') 
