extends base.pug

block content
  div(class="ui middle aligned center aligned grid")
    span.row
    h1(class="title row") Sign Up Page
    form.signup_bar(action='/signup', method="POST" class="row ui large form")
      div(class="ui stacked segment")
        input.text(type='text', name='username', required placeholder='User Name' class="ui input")
        input.text(type='text', name='password', required placeholder='Password' class="ui input")
        input.submit(type='submit', value='Sign Up' class="ui fluid button") 
