extends base.pug

block content
  header
    div(class="ui menu")
      a(class="item" href="/") Search Page
      a(class="item" href="/login") Log In Page
      a(class="item" href="/signup") Sign Up Page
      a(class="active item" href="/user") User Page
      if access === 'admin' || access = 'superadmin'
        a(class="item admin" href="/admin") Admin Page
  h1 User Page
  div.users
    each user in users
      div.userrow
        span.text #{user.username}
